/* Table of contents
    01. font & reset css
    02. Header
    03. Hero Body
    04. Factor and Logo
    05. Content 1
    06. Feature Section
    07. Content 2
    08. Pricing Section
    09. Testimonial
    10. CTA
    11. Footer
    12. Header Mobile View 
    13. Hero Body Mobile View 
    14. Factor and Logo Mobile View 
    15. Content 1 Mobile View 
    16. Feature Section Mobile View 
    17. Content 2 Mobile View 
    18. Pricing Section Mobile View 
    19. Testimonial Mobile View 
    20. CTA Mobile View 
    21. Footer Mobile View */


/* font & reset css start */
:root{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-size: 3rem;
    font-weight: bolder;
}
h2{
    font-size: 2rem;
    font-weight: bolder;
}
h3{
    font-size: 1.25rem;
    font-weight: bolder;
}
h5{
    font-size: 1rem;
    font-weight: bolder;
}
p{
    font-weight: lighter;
    color: rgb(107, 104, 104);
}

/* font & reset css end */

#hero{
    height: 90vh;
    background-image: url(./images/BG\ \(3\).png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.hero-background{
    background-image: url(./images/shapes.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 90vh;
}

/* Header start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 1% auto 2% auto;
}
.menu{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.menu a{
    color: white;
    text-decoration: none;
}
.menu a:hover,
.login-and-signup-buttons .login-btn:hover,
.login-and-signup-buttons .signup-btn:hover,
.try-btn:hover{
    color: black;
    transition: all 0.5s;
}
.login-and-signup-buttons{
    display: flex;
    align-items: center;
}
.login-and-signup-buttons .login-btn{
    border: none;
    background: transparent;
    color: white;
    padding: 0.6rem 2rem;
    cursor: pointer;
}
.login-and-signup-buttons .signup-btn,
.try-btn{
    border: none;
    background: #FD4C5C;
    color: white;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
}

#check{
    display: none;
}
.menu-icon{
    display: none;
}
nav .nav-content-mobile-view{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: #001C80;
    z-index: 10;
}
nav .nav-content-mobile-view .logo{
    width: 30%;
    margin-bottom: 1rem;
}
nav .nav-content-mobile-view .logo img{
    width: 100%;
}
nav .nav-content-mobile-view a{
    text-decoration: none;
    color: white;
    height: inherit;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    justify-content: center;
}
nav .nav-content-mobile-view a:hover{
    text-shadow: 4px 4px 2px rgba(0,0,0,1);
    background:rgb(61, 16, 87);
}
nav .nav-content-mobile-view .login-btn,
nav .nav-content-mobile-view .signup-btn{
    border: none;
    background: #FD4C5C;
    color: white;
    padding: 1rem;
    cursor: pointer;
    width: 40%;
}
nav .nav-content-mobile-view .login-btn{
    background: rgba(72, 223, 34, 0.829);
    margin-bottom: 1rem;
}
nav .nav-content-mobile-view .login-btn:hover,
nav .nav-content-mobile-view .signup-btn:hover{
    color: black;
    transition: all 0.5s;
}
/* Header end */

/* Hero Body start */
.hero-body{
    color: white;
    text-align: center;
}
.hero-body-content{
    width: 80%;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hero-body-content h1{
    margin-top: 1%;
}
.hero-body-content .mobile-view-header{
    display: none;
}
.hero-body-content > p{
    color: rgb(211, 207, 207);
    width: 100%;
}
.hero-body-content .try-btn{
    width: fit-content;
    margin: 0 auto;
}
.watch-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    text-decoration: none;
    color: white;
}
.watch-btn img{
    margin-right: 1%;
}
.watch-btn p{
    margin: 0;
    color: white;
}
.hero-body .mac-photo{
    position: absolute;
    width: 50%;
    top: 70%;
    left: 25%;
}
.hero-body .dots{
    width: 5%;
    position: absolute;
    bottom: -20%;
    right: 0;
}
/* Hero Body end */

/* Factor and Logo start */
.factor-and-logo{
    margin-top: 19%;
}
.factor{
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
}
.factor-content-1{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
}
.factor-content-1 .text-group-1,
.factor-content-1 .text-group-2{
    position: relative;
}
.text-group-1 img,
.text-group-2 img{
    position: absolute;
    width: 30%;
    top: 10%;
    left: -9%;
}
.factor-content-2{
    width: 50%;
}
.users-bulk,
.rating-bulk{
    font-size: 2.5rem;
    margin: 0;
    color: black;
    font-weight: bolder;
}
.factor .normal-text{
    padding-top: 0.5rem;
    margin: 0;
    color: black;
}
.factor-content-2 p{
    font-size: 2.2rem;
    font-weight: bold;
    color: black;
}
.factor-content-2 span{
    color: #2B59FF;
}

.logo-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 3% 0 5% 0;
} 
.logo-group img{
    width: 12%;
}
/* Factor and Logo end */

/* Content 1 start */
.first-content-section{
    padding: 6% 0;
    background: #fcfaffe7;
}
.first-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.first-content .chat-img{
    width: 50%;
}
.first-content-section-text-and-button{
    width: 40%;
}
.first-content-section-text-and-button .text-group p:nth-child(1){
    color: blue;
}
.first-content-section-text-and-button .text-group h2{
    padding: 4% 0 1% 0;
}
.first-content-section-text-and-button .text-group .paragraph{
    padding-bottom: 2%;
}
.first-content-section-text-and-button .text-group section{
    display: flex;
    align-items: center;
    padding: 2% 0;
}
.first-content-section-text-and-button .text-group section p{
    margin-left: 2%;
    margin-bottom: 0;
}
.first-content-section-text-and-button .start-btn{
    border: none;
    background: #FD4C5C;
    color: white;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    margin-top: 5%;
}
.first-content-section-text-and-button .start-btn:hover{
    color: black;
    transition: all 0.5s;
}
/* Content 1 end */

/* Feature Section start */
#feature-section{
    padding: 6% 0;
}
.feature-text{
    width: 40%;
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
}
.feature-text p{
    color: blue;
}
.features{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.features-second-group{
    padding-top: 3%;
}
.features .groups{
    width: 25%;
}
.features .groups img{
    width: 25%;
}
.features .groups h3{
    padding-top: 5%;
}
/* Feature Section end */

/* Content 2 start */
.second-content-section{
    padding: 6% 0;
    background: #fcfaffe7;
}
.second-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.second-content .chat-img-1{
    width: 50%;
}
.second-content-section-text-group{
    width: 40%;
}
.second-content-section-text-group p:nth-child(1){
    color: blue;
}
.second-content-section-text-group h2{
    padding: 1% 0;
}
.second-content-section-text-group .paragraph{
    padding-bottom: 2%;
}
.second-content-section-text-group .list{
    display: flex;
    align-items: flex-start;
    padding-top: 4%;
}
.second-content-section-text-group .list section{
    margin-left: 4%;
}
.second-content-section-text-group .list p{
    padding: 1% 0;
}
/* Content 2 end */

/* Pricing Section start */
.pricing-section{
    position: relative;
    padding: 6% 0 8% 0;
}
.pricing-section > img{
    position: absolute;
    top: 10%;
    left: 0%;
    width: 5%;
}
.pricing-section-content{
    width: 80%;
    margin: auto;
}
.pricing-section-content > p{
    color: blue;
    text-align: center;
}
.pricing-section-content > h2{
    text-align: center;
    margin: 2% 0 6% 0;
}
.pricing-box{
    display: flex;
    justify-content: space-between;
}
.pricing-card{
    width: 31%;
    padding: 3%;
    border-radius: 0.5rem;
    transition: ease-in-out 0.5s;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
}
.pricing-card:hover{
    transform: scale(1.1);
}
.pricing-card > p{
    color: black;
}
.pricing-card .price{
    font-size: 2rem;
    font-weight: bold;
    padding: 3% 0;
    color: black;
}
.pricing-card section{
    padding: 4% 0;
}
.pricing-card section p{
    margin-left: 2%;
    margin-bottom: 0;
    color: rgb(51, 51, 51);
}
.pricing-card .price span{
    font-size: 1.4rem;
    font-weight: normal;
}
.pricing-card p:nth-child(3){
    color: rgb(126, 117, 117);
    padding-bottom: 8%;
    margin-bottom: 6%;
    border-bottom: 1px solid rgb(126, 117, 117);
    width: 80%;
}
.pricing-card section{
    display: flex;
    align-items: center;
}
.pricing-card .start-btn{
    border: 1px solid  #FD4C5C;
    background: transparent;
    color:  #FD4C5C;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    margin-top: 8%;
}
.pricing-card .start-btn:hover{
    color: white;
    background:  #FD4C5C;
    transition: all 0.5s;
}
/* Pricing Section end */

/* Testimonial start */
.testimonial{
    padding: 6% 0;
    background:  #ede9f1e7;
}
.testimonial-content{
    width: 100%;
    margin: auto;
}
.testimonial-content > p{
    color: blue;
    text-align: center;
}
.testimonial-content h2{
    text-align: center;
}
#carouselExampleIndicators{
    width: 96%;
    padding: 0 4%;
    margin: auto;
}
#carouselExampleIndicators .carousel-inner{
    padding: 0 4% 5% 4%;
}
.testimonial-slider-content{
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0;
}
.testimonial-slider-content .review-card{
    background: white;
    padding: 2%;
    border-radius: 0.5rem;
    width: 47%;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
}
.review-card .review{
    color: rgb(73, 73, 73);
}
.person-and-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.person{
    display: flex;
    align-items: center;
    width: 80%
}
.person img{
    width: 20%;
}
.person .name-and-work{
    margin-left: 5%;
}
.person .name-and-work p:nth-child(1){
    margin-bottom: 4%;
    color: black;
    font-weight: bolder;
}
.person .name-and-work p:nth-child(2){
    font-size: 0.8rem;
    margin: 0;
    color: rgb(73, 73, 73);
}
.stars{
    width: 20%;
}
/* Testimonial end */

/* CTA start */
.CTA{
    background: #ede9f1e7;
    background-image: url(./images/BG\ \(4\).png);
    background-size: 100% 100%;
}
.CTA-background{
    background-image: url(./images/shapes\ \(1\).png);
    background-size: 100% 130%;
}
.CTA-content{
    width: 80%;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}
.CTA-content p{
    width: 70%;
    padding: 1% 0 2% 0;
    text-align: center;
    color: rgb(211, 207, 207);
}
.CTA-content .btn-group{
    display: flex;
    width: 100%;
    justify-content: center;
}
.CTA-content .btn-group a img{
    width: 90%;
}
/* CTA end */

/* Footer start */
.footer-section{
    padding: 6% 0 0 0;
}
.footer-content{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(230, 229, 229);
}
.footer-content .widget-one{
    width: 32%;
}
.footer-content .widget-one p{
    padding: 8% 0 2% 0;
}
.footer-content .widget-one .social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.footer-content .widget-one .social a img{
    width: 30%;
}
.footer-content .widget-two,
.footer-content .widget-three{
    width: 15%;
}
.footer-content .widget-two p,
.footer-content .widget-three p{
    padding: 11% 0;
    line-height: 2.5;
}
.footer-content .widget-four{
    width: 25%;
}
.footer-content .widget-four p{
    padding: 9.5% 0 4% 0;
    margin-bottom: 0;
}
.phone-number,
.email{
    display: flex;
    align-items: center;
    padding-bottom: 4%;
}
.phone-number img,
.email img{
    width: 8%;
}
.phone-number span,
.email span{
    margin-left: 5%;
    color: rgb(107, 104, 104);
}
.footer-text{
    text-align: center;
    padding: 1.2% 0;
    margin-bottom: 0;
    font-size: 0.8rem;
}
/* Footer end */

@media (min-width: 1300px){
    :root{
        font-size: 16px;
    }
    .hero-body-content h1{
        font-size: 4rem;
    }
}
@media (max-width: 900px){
    :root{
        font-size: 14px;
    }
    #hero{
        height: 55vh;
    }
    .hero-body-content{
        height: 32vh;
    }
}
@media (max-width: 700px){
    :root{
        font-size: 12px;
    }
}

@media (max-width: 600px){
    :root{
        font-size: 16px;
    }
    #hero{
        height: 100vh;
        background-image: url(./images/BG\ \(6\).png);
    }
    /* Header Mobile View start */
    .menu,
    .login-and-signup-buttons{
        display: none;
    }
    .menu-icon{
        display: inline;
    }
    
    .menu-icon,.menu-icon:before,.menu-icon:after{
        width: 3rem;
        height: 0.25rem;
        background-color: #fff;
        border-radius: 0.2rem;
        -webkit-box-shadow: 1px 1px 2px rgba(30, 30, 30, 0.3);
                box-shadow: 1px 1px 2px rgba(30, 30, 30, 0.3);
        z-index: 99;
    }
    .menu-icon{
        position: relative;
        -webkit-transition: -webkit-transform 0.3s 0s;
        transition: -webkit-transform 0.3s 0s;
        transition: transform 0.3s 0s;
        transition: transform 0.3s 0s, -webkit-transform 0.3s 0s;
    }
    .menu-icon:before,.menu-icon:after{
        content: '';
        width: 100%;
        position: absolute;
    }
    .menu-icon:before{
        bottom: 0.8rem;
        -webkit-transition: bottom 0.3s 0.3s, -webkit-transform 0.3s 0s;
        transition: bottom 0.3s 0.3s, -webkit-transform 0.3s 0s;
        transition: bottom 0.3s 0.3s, transform 0.3s 0s;
        transition: bottom 0.3s 0.3s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
    }
    .menu-icon:after{
        top: 0.8rem;
        -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s 0s;
        transition: top 0.3s 0.3s, -webkit-transform 0.3s 0s;
        transition: top 0.3s 0.3s, transform 0.3s 0s;
        transition: top 0.3s 0.3s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
      
    }
    #check:checked ~ .menu-icon{
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: -webkit-transform 0.3s 0.3s;
        transition: -webkit-transform 0.3s 0.3s;
        transition: transform 0.3s 0.3s;
        transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
        position: fixed;
        right: 10%;
    }
    #check:checked ~ .menu-icon:before{
        bottom: 0;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        -webkit-transition: top 0.3s 0s,-webkit-transform 0.3s 0.3s;
        transition: top 0.3s 0s,-webkit-transform 0.3s 0.3s;
        transition: top 0.3s 0s,transform 0.3s 0.3s;
        transition: top 0.3s 0s,transform 0.3s 0.3s,-webkit-transform 0.3s 0.3s;
    }
    #check:checked ~ .menu-icon:after{
        top: 0;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        -webkit-transition: top 0.3s 0s,-webkit-transform 0.3s 0.3s;
        transition: top 0.3s 0s,-webkit-transform 0.3s 0.3s;
        transition: top 0.3s 0s,transform 0.3s 0.3s;
        transition: top 0.3s 0s,transform 0.3s 0.3s,-webkit-transform 0.3s 0.3s;      
    }
    nav .nav-content-mobile-view{
        display: flex;
        right: -101%;
        transition: all 0.8s;
    }
    #check:checked ~ .nav-content-mobile-view{
        right: 0;
        transition: all 0.8s;
    }
    #check:checked ~ .nav-content-mobile-view .logo{
        transform: translateX(20%);
        animation: logo-slide-in 0.6s ease 0.7s forwards;
        opacity: 0;
    }
    #check:checked ~ .nav-content-mobile-view a:nth-child(2){
        transform: translateX(20%);
        animation: slide-in 0.6s ease 1s forwards;
        opacity: 0;
    }
    #check:checked ~ .nav-content-mobile-view a:nth-child(3){
        transform: translateX(20%);
        animation: slide-in 0.6s ease 1.3s forwards;
        opacity: 0;
    }
    #check:checked ~ .nav-content-mobile-view a:nth-child(4){
        transform: translateX(20%);
        animation: slide-in 0.6s ease 1.6s forwards;
        opacity: 0;
    }
    #check:checked ~ .nav-content-mobile-view a:nth-child(5){
        transform: translateX(20%);
        animation: slide-in 0.6s ease 1.9s forwards;
        opacity: 0;
    }
    #check:checked ~ .nav-content-mobile-view button:nth-child(6){
        transform: translateX(20%);
        animation: slide-in 0.6s ease 2.2s forwards;
        opacity: 0;
    }
    #check:checked ~ .nav-content-mobile-view button:nth-child(7){
        transform: translateX(20%);
        animation: slide-in 0.6s ease 2.5s forwards;
        opacity: 0;
    }
    @keyframes logo-slide-in {
        50% {
          transform: translate(-5rem);
          opacity: 1;
        }
        100% {
            transform: translate(0);
            opacity: 1;
        }
    }     
    @keyframes slide-in {
        50% {
          transform: translate(-7%);
          opacity: 1;
        }
        100% {
            transform: translate(0);
            opacity: 1;
        }
    }
    .navgation .nav-content{
        display: none;
    }
    .navgation{
        position: fixed;
        top: 0;
        z-index: 999;
    }

    nav{
        justify-content: space-between;
        padding: 1rem 0;
    }
    .mac-photo{
        width: 80%;
    }
    /* Header Mobile View end */

    /* Hero Body Mobile View start */
    .hero-body-content {
        width: 100%;
        height: 57vh;
    }
    .hero-body-content .header{
        display: none;
    }
    .hero-body-content .mobile-view-header{
        display: block;
        font-size: 2.5rem;
        margin-top: 10%;
    }
    .hero-body-content > p{
        width: 80%;
        margin: 0 auto;
    }
    .hero-body .mac-photo{
        width: 90%;
        position: inherit;
    }
    .dots{
        display: none;
    }
    /* Hero Body Mobile View end */

    /* Factor and Logo Mobile View start */
    .factor-and-logo{
        margin-top: 10%;
    }
    .factor{
        flex-direction: column;
        width: 80%;
        align-items: center;
    }
    .factor-content-1{
        width: 100%;
        justify-content: space-between;
    }
    .factor-content-2{
        width: 100%;
    }

    .logo-group{
        flex-direction: column;
        align-items: center;
    } 
    .logo-group img{
        width: 50%;
        margin-bottom: 15%;
    }
    /* Factor and Logo Mobile View end */

    /* Content 1 Mobile View start */
    .first-content{
        flex-direction: column;
    }
    .first-content .chat-img{
        width: 100%;
        margin-bottom: 5%;
    }
    .first-content-section-text-and-button{
        width: 100%;
    }
    /* Content 1 Mobile View end */

    /* Feature Section Mobile View start */
    .feature-text{
        width: 80%;
    }
    .features{
        flex-direction: column;
        align-items: center;
    }
    .features .groups{
        width: 100%;
        text-align: center;
        margin-bottom: 8%;
    }
    .features .groups img{
        width: 25%;
    }
    /* Feature Section Mobile View end */

    /* Content 2 Mobile View start */
    .second-content{
        flex-flow: column-reverse;
    }
    .second-content .chat-img-1{
        width: 100%;
        margin-bottom: 5%;
    }
    .second-content-section-text-group{
        width: 100%;
    }
    /* Content 2 Mobile View end */

    /* Pricing Section Mobile View start */
    .pricing-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .pricing-card{
        width: 100%;
        padding: 10%;
        margin-bottom: 10%;
        margin-top: 5%;
        box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    }
    /* Pricing Section Mobile View end */

    /* Testimonial Mobile View start */
    .testimonial-content h2{
        width: 80%;
        margin: auto;
    }
    .testimonial-slider-content .review-card:nth-child(2){
        display: none;
    }
    .testimonial-slider-content .review-card{
        width: 90%;
        padding: 6%;
    }
    #carouselExampleIndicators .carousel-inner{
        padding: 0 4% 10% 4%;
    }
    /* Testimonial Mobile View end */

    /* CTA Mobile View start */
    .CTA{
        background-image: url(./images/BG\ \(7\).png);
    }
    .CTA-content{
        padding: 15% 0;
        text-align: center;
    }
    .CTA-content p{
        width: 100%;
    }
    /* CTA Mobile View end */


     /* Footer Mobile View start */
     .footer-content{
        flex-direction: column;
    }
    .footer-content .widget-one,
    .footer-content .widget-two,
    .footer-content .widget-three,
    .footer-content .widget-four{
        width: 100%;
    }
    .footer-content .widget-two p,
    .footer-content .widget-three p,
    .footer-content .widget-four p{
        padding: 5% 0;
    }
    .footer-content .widget-two{
        padding-top: 15%;
    }
    .footer-content .widget-three,
    .footer-content .widget-four{
        padding-top: 10%;
    }
    .footer-text{
        font-size: 1rem;
        padding: 6% 0;
        text-align: start;
        margin-left: 10%;
    }
    /* Footer Mobile View end */
}

@media (max-width: 400px){
    :root{
        font-size: 16px;
    }
    #hero{
        height: 107vh;
    }
    .hero-body-content .mobile-view-header{
        font-size: 2.1rem;
        margin-top: 5%;
    }
}